.card-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-section{
    padding: 32px;
}

.project-section{
    padding: 32px ;
    gap: 24px;
    display: grid;
    grid-template-columns: 389px 389px 389px 389px 389px;
}

.skeleton{
    flex-shrink: 0;
    border-radius: var(--borderRadius, 4px);
    background: rgba(230, 233, 242, 0.20);
}