.menu{
    position: fixed;
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: space-between;
    padding: 16px 30px;
    border-bottom: 1px solid #113;
    background: #113;
}

.header{
    width: 712px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 100px;
}

.rading-container{
    display: flex;
    width: 100%;
    height: 41px;
    padding: var(--none, 0px);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.paragraph-container{
    display: flex;
    height: 41px;
    padding: var(--none, 0px);
    align-items: flex-start;
    gap: var(--3, 24px);
}

.container-logo{
    width: 111px;
    height: 41px;
    flex-shrink: 0;
}

.btn-meus-projetos{
    text-decoration: none;
    display: flex;
    width: 130.4px;
    height: 41px;
    flex-direction: column;
    justify-content: center;
}

.btn-descobrir{
    display: flex;
    width: 88px;
    height: 41px;
    flex-direction: column;
    justify-content: center;
}

.paragraph{
    text-decoration: none;
    color: var(--Neutral-Colors-Neutral-60, #FCFDFF);
    /* [Orange P] Style Guide/H6 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    letter-spacing: 0.15px;
}

.container{
    display: flex;
    width: 96px;
    height: 41px;
    padding: var(--none, 0px);
    justify-content: center;
    align-items: center;
    gap: var(--2, 16px);
    flex-shrink: 0;
}

.avatar-image{
    width: 40px;
    height: 40px;
}

.avatar-image img{
    width: 100%;
    height: 100%;
}
